<div class="container">
  <div class="row">
      <a href = 'http://www.ndhealth.gov/EHS/FOIA/Spills/Summary_Reports/<%= @spill.incident_url %>_Summary_Report.pdf'><object width="500" height="600" data="http://www.ndhealth.gov/EHS/FOIA/Spills/Summary_Reports/<%= @spill.incident_url %>_Summary_Report.pdf"></object></a>
      <h1>Post about this spill:</h1>

      <%= form_tag '/post', multipart: true, method: :post do %>
        <div>
          <%= label_tag "Got something to say about this spill?" %>
          <%= text_field_tag :content %>
        </div>
        <div>
            <%= label_tag "Upload an image, report, or any document related to this spill" %>
            <%= file_field_tag :image %>
        </div>
        <div>
          <%= label_tag "Post a link to further informationa about this spill" %>
          <%= text_field_tag :url %>
        </div>
        <div>
          <%= label_tag "Post a link to an image of this spill" %>
          <%= text_field_tag :image_url %>
        </div>
        <div>
          <%= hidden_field_tag :spill_id, @spill.id %>
        </div>
        <%= submit_tag "Post" %>
      <% end %>
      <% @spill.posts.each do |post| %>
        <h4> <%= post.user.name %> </h4>
        <p><%= post.content %> </p>
        <% if post.image.url == '/images/original/missing.png' %>
        <% else %>
          <%= post.image.url %>
        <% end %>


        <a href="<%= post.url %>"><%= post.url %></a>
      <% end %>
  </div>
</div>