<h4>Date: <%= @spill.DateIncident %></h4>
<h4>Contaminant: <%= @spill.Contaminant %> </h4>
<h4>Volume: <%= @spill.Volume %> <%= @spill.Units %></h4>
<h4><a href = 'http://www.ndhealth.gov/EHS/FOIA/Spills/Summary_Reports/<%= @spill.IncidentURL %>_Summary_Report.pdf'>Incident Report</a></h4>