  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #mapShow {
        height: 60%;
        outline: solid black;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>


    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                <img src='/assets/logo.jpeg'/>
            </a>
            <div class="nav-collapse collapse">
                <% if current_user %>
                    <p style="color:red;"> Welcome <%= current_user.name %></p>
                <% end %> 
                <ul class="nav pull-right">
                    <li><a href="/map">View Map</a></li>
                    <% if current_user %>
                        <li><a class="btn-header" href="/logout">Logout</a></li>
                    <% else %>
                        <li><a class="btn-header" href="/sign-up">Signup</a></li>
                        <li><a class="btn-header" href="/sign-in">Login</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
      </div>
    </div>
  <%= form_tag '/json/show', method: :get do %>
  <%= hidden_field_tag :spill_id, @spill.id %>
  <%= submit_tag "Show Location" %>
  <% end %>
  <div id="mapShow"></div>
  <table>
    <tr>
      <td id="form">
      <object width="500" height="600" data="http://www.ndhealth.gov/EHS/FOIA/Spills/Summary_Reports/<%= @spill.incident_url %>_Summary_Report.pdf"></object>
      </td>
      <td id="form">
        <h1>Post about this spill:</h1>

        <%= form_tag '/post', multipart: true, method: :post do %>
          <div>
            <h3>Comment</h3>
            <%= text_field_tag :content %>
          </div>
          <div>
              <h3>Upload an Image</h3>
              <%= file_field_tag :image %>
          </div>
          <div>
            <h3>Paste a Link</h3>
            <%= text_field_tag :url %>
          </div>
          <div>
            <h3>Link an Image</h3>
            <%= text_field_tag :image_url %>
          </div>
          <div>
            <strong><%= hidden_field_tag :spill_id, @spill.id %></strong>
          </div>
          <%= submit_tag "Post" %>
        <% end %>
        </td>
        </tr>
        </table>
        <table>
        <tr>
        <td id="form">
        <% @spill.posts.reverse.each do |post| %>
          <h1> <%= post.user.name %> </h1>
          <p><%= post.content %> </p>
          <% if post.image.url == '/images/original/missing.png' %>
          <% else %>
            <img width = "500px" src="<%= post.image.url %>"/>
          <% end %>
          <% if post.image_url %>
            <img width="500px" src="<%= post.image_url %>"/>
          <% else %>
            <p></p>
          <% end %>
          <h4><a href="<%= post.url %>"><%= post.url %></a></h4>
          <% if post.url == "" %>
          <p></p>
          <% else %>
          <iframe width="560" height="315" src="<%= post.url %>" frameborder="0" allowfullscreen></iframe>
          <% end %>
          <div>
            <% if current_user == post.user %>
              <%= link_to "Delete this post", "/post/#{post.id}", method: :delete %>
            <% end %>
          </div>
        <% end %>
        </td>
        </tr>
        </table>

  <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('mapShow'), {
          zoom: 7,
          center: new google.maps.LatLng( 47.361893,-100.465128),
          mapTypeControlOptions: {
            style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
            mapTypeIds: ['hybrid', 'roadmap', 'terrain']
          }
          
        });


        var marker = new google.maps.Marker({
          position: {lat: 48.52467, lng: -102.85350},
          map: map
        });
      }

    //   $.getJSON('/json/show', createMarker);

    //   function createMarker(data) {
    //     data.foreach(function(spill) {
    //       var marker = new google.maps.Marker({
    //         position: new google.maps.LatLng(spill.latitude, spill.longitude),
    //         map: map
    //       });
    //     });
    //   };
    // }


    //     $.getJSON('/json/show', createMarkers);

    //     var ctaLayer = new google.maps.KmlLayer({
    //   url: 'https://sites.google.com/site/jskordkmlfiles/kml_files/Bakken.kml?revision=2',
    //   preserveViewport: true,
    //   map: map
    // });
  </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhiLyzchIrDbps7sdNjA3BpO72DC2Efyo&callback=initMap"
    async defer></script>