<div id="spill_report">
<object width="600" height="700" data="http://www.ndhealth.gov/EHS/FOIA/Spills/Summary_Reports/<%= @spill.incidentURL %>_Summary_Report.pdf"></object>
<h4><a href = 'http://www.ndhealth.gov/EHS/FOIA/Spills/Summary_Reports/<%= @spill.incidentURL %>_Summary_Report.pdf'>Incident Report</a></h4>
</div>
<div id="spill_report_comment_section">
<h4>Date: <%= @spill.dateIncident %></h4>
<h4>Contaminant: <%= @spill.contaminant %> </h4>
<h4>Volume: <%= @spill.volume %> <%= @spill.units %></h4>
<h1>Post about this spill:</h1>
<%= form_tag '/post', method: :post do %>
<div>
<%= label_tag :content %>
<%= text_field_tag :content %>
</div>
<div>
<%= text_field_tag :spill_id, @spill.id %>
</div>
<%= submit_tag "Post" %>
<% end %>
<% @spill.posts.each do |post| %>
  <h4> <%= post.user.name %> </h4>
  <p><%= post.content %> </p>
<% end %>
</div>