    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                <img src='/assets/logo.jpeg'/>
            </a>
            <div class="nav-collapse collapse">
                <% if current_user %>
                    <p style="color:red;"> Welcome <%= current_user.name %></p>
                <% end %> 
                <ul class="nav pull-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/map">View Map</a></li>
                    <% if current_user %>
                        <li><a class="btn-header" href="/logout">Logout</a></li>
                    <% else %>
                        <li><a class="btn-header" href="/sign-up">Signup</a></li>
                        <li><a class="btn-header" href="/sign-in">Login</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
      </div>
    </div>

<div class="container">
  <div class="row">
    <object width="500" height="600" data="http://www.ndhealth.gov/EHS/FOIA/Spills/Summary_Reports/<%= @spill.incident_url %>_Summary_Report.pdf"></object>
      <h1>Post about this spill:</h1>

      <%= form_tag '/post', multipart: true, method: :post do %>
        <div>
          <%= label_tag "Comment" %>
          <%= text_field_tag :content %>
        </div>
        <div>
            <%= label_tag "Upload" %>
            <%= file_field_tag :image %>
        </div>
        <div>
          <%= label_tag "Link website" %>
          <%= text_field_tag :url %>
        </div>
        <div>
          <%= label_tag "Link image" %>
          <%= text_field_tag :image_url %>
        </div>
        <div>
          <%= hidden_field_tag :spill_id, @spill.id %>
        </div>
        <%= submit_tag "Post" %>
      <% end %>
      <% @spill.posts.each do |post| %>
        <h1 style="color:green"> <%= post.user.name %> </h1>
        <p><%= post.content %> </p>
        <% if post.image.url == '/images/original/missing.png' %>
        <% else %>
          <img src="<%= post.image.url %>"/>
        <% end %>
        <img src="<%= post.image_url %>"/>
        <a href="<%= post.url %>"><%= post.url %></a>
        <div>
          <% if current_user == post.user %>
            <%= link_to "Delete this post", "/post/#{post.id}", method: :delete %>
          <% end %>
        </div>
      <% end %>
  </div>
</div>