<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                <img src='/assets/logo.jpeg'/>
            </a>
            <div class="nav-collapse collapse">
                <% if current_user %>
                    <p style="color:red;"> Welcome <%= current_user.name %></p>
                <% end %> 
                <ul class="nav pull-right">
                    <li><a href="/map">View Map</a></li>
                    <% if current_user %>
                        <li><a class="btn-header" href="/logout">Logout</a></li>
                    <% else %>
                        <li><a class="btn-header" href="/sign-up">Signup</a></li>
                        <li><a class="btn-header" href="/sign-in">Login</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
      </div>
    </div>
  <h1>Sort by Date</h1>
  <div id="form_sort">
  
    <%= form_tag '/json/sort_by_date', method: :get do  %>
        <div class="my-class">
          <%= label_tag :year %>
          <%= text_field_tag :start_year, 2008 %>
          <%= label_tag :month %>
          <%= text_field_tag :start_month, 1 %>
          <%= label_tag :year %>
          <%= text_field_tag :end_year, 2017 %>
          <%= label_tag :month %>
          <%= text_field_tag :end_month, 1 %>
          <%= submit_tag "Submit", id: 'submit-button' %>
        </div>
  <% end %>
  
  </div>
  <div id="map"></div>
  <script>
  /* global $, google */
  $( "form" ).submit(function( event ) {
    event.preventDefault();
    var formData = $("form").serialize();
    console.log(formData);
    $.getJSON('/json/sort_by_date');
    $.ajax({
      url: '/json/sort_by_date',
      type: 'get',
      dataType: 'json',
      data: $('form').serialize(),
      success: function(data) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = [];
        if (useMarkerCluser) {
          markerCluster.clearMarkers();
        }
        createMarkers(data);
        document.getElementById('submit-button').disabled = false;
      }
    });
  });
  var markers = [];
  var map;
  var markerCluster;
  var useMarkerCluser = true;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 7,
      mapTypeControl: true,
      center: new google.maps.LatLng( 47.361893,-100.465128),
      mapTypeControlOptions: {
      style: google.maps.MapTypeControlStyle.DROPDOWN_MENU,
      mapTypeIds: ['hybrid', 'roadmap', 'terrain']
      }
    });

    $.getJSON('/json/all', createMarkers);

        var ctaLayer = new google.maps.KmlLayer({
      url: 'https://sites.google.com/site/jskordkmlfiles/kml_files/Bakken.kml?revision=2',
      preserveViewport: true,
      map: map
    });

  }

  function createMarkers(data) {
    data.forEach(function(spill) {
      var type = spill.contaminant;
      var volume = spill.volume;
      var date = spill.date_incident;
      var units = spill.units;
      var id = spill.id.toString();
      var str = "View Spill Page";
      var infowindow = new google.maps.InfoWindow({
        content: "Date:" + " " + date + " Contaminant: " + type + " " + "Volume:" + volume + units + " " + str.link("/spills/" + id)
      });
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(spill.latitude, spill.longitude),
        map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });

      markers.push(marker);

    });

    if (useMarkerCluser) {
      markerCluster = new MarkerClusterer(map, markers,{
        imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
      });
    }
  }
    </script>
<div id="mapPosts">
    <h1><strong>Recent Posts</strong></h1>

      <% @posts.each do |post| %>
        <h1><%= post.user.name %></h1>
        <div class="posts"><h4>Posted about a spill that occured on <%= post.spill.date_incident %>, the contaminant was <%= post.spill.contaminant %>, and the volume of the spill was <%= post.spill.volume %> <%= post.spill.units %><i></h4></div>
        <p><a href="/spills/<%= post.spill.id %>">View Spill Report</a></p>
        <p> <%= post.content %> </p>
        <% if post.image.url == '/images/original/missing.png' %>
        <% else %>
          <img width = "500px" src="<%= post.image.url %>"/>
        <% end %>
        <% if post.image_url %>
          <img width="500px" src="<%= post.image_url %>"/>
        <% end %>
        <h4><a href="<%= post.url %>"><%= post.url %></a></h4>
        <% if post.url == "" %>
          <p></p>
        <% else %>
          <iframe width="560" height="315" src="<%= post.url %>" frameborder="0" allowfullscreen></iframe>
        <% end %>
      <% end %>

</div>
    
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>
  </body>
</html>
<script>
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
</script>

