<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  <h1>Sort by Date</h1>
    <%= form_tag '/json/sort_by_date', method: :get do  %>
    <p>Beginning date</p>
      <div>
        <%= label_tag :year %>
        <%= text_field_tag :start_year %>
      </div>
      <div>
        <%= label_tag :month %>
        <%= text_field_tag :start_month %>
      </div>
    <p>Ending Date</p>
      <div>
        <%= label_tag :year %>
        <%= text_field_tag :end_year %>
      </div>
      <div>
        <%= label_tag :month %>
        <%= text_field_tag :end_month %>
      </div>
    <%= submit_tag "Submit" %>
  <% end %>
  <div id="map"></div>
  <script>
  // $( "form" ).submit(function( event ) {
  //   event.preventDefault();
  //   var formData = $("form").serialize();
  //   console.log(formData);
  //   // $.getJSON('/json/sort_by_date')
  //   $.ajax({
  //     url: '/json/sort_by_date',
  //     type: 'get',
  //     dataType: 'json',
  //     data: $('form').serialize(),
  //     success: function(data) {
  //       console.log(data);
  //     }
  //   });
  // });
  var markers = [];
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 7,
      center: new google.maps.LatLng( 47.360470,-102.369400),
      mapTypeId: 'terrain'
    });
    $.getJSON('http://localhost:3000/json/all', function(data) {
      data.forEach(function(spill) {
        var type = spill.contaminant;
        var volume = spill.volume;
        var date = spill.date_incident;
        var units = spill.units;
        var id = spill.id.toString();
        var str = "View Spill Report"
        var infowindow = new google.maps.InfoWindow({
          content: "Date: " + date + "Type: " + type + str.link("/spills/" + id) + id
        });
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(spill.latitude, spill.longitude),
          icon: 'http://maps.google.com/mapfiles/kml/shapes/placemark_circle_highlight.png',
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

        markers.push(marker);
        // var markerCluster = new MarkerClusterer(map, markers,{
        //   imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
        // });
      });

    });
  }
  console.log(markers);
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>


  </body>
</html>