<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 90%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 90%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
  <h1>Sort by Date</h1>
    <%= form_tag '/json/sort_by_date', method: :get do  %>
        <%= label_tag :year %>
        <%= text_field_tag :start_year %>
        <%= label_tag :month %>
        <%= text_field_tag :start_month %>
        <%= label_tag :year %>
        <%= text_field_tag :end_year %>
        <%= label_tag :month %>
        <%= text_field_tag :end_month %>
    <%= submit_tag "Submit" %>
  <% end %>
  <div class="map"></div>
  <div id="map"></div>
  </body>
  <script>
  /* global $, google */
  $( "form" ).submit(function( event ) {
    event.preventDefault();
    var formData = $("form").serialize();
    console.log(formData);
    $.getJSON('/json/sort_by_date');
    $.ajax({
      url: '/json/sort_by_date',
      type: 'get',
      dataType: 'json',
      data: $('form').serialize(),
      success: function(data) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(null);
        }
        markers = [];
        markerCluster.clearMarkers();
        createMarkers(data);
      }
    });
  });
  var markers = [];
  var map;
  var markerCluster;
  var src = '/app/assets/kml/bakken.kml';
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 7,
      center: new google.maps.LatLng( 47.361893,-100.465128),
      mapTypeId: 'hybrid'
    });

    loadKmlLayer(src, map);

    $.getJSON('/json/all', createMarkers);

  }

  function createMarkers(data) {
    data.forEach(function(spill) {
      var type = spill.contaminant;
      var volume = spill.volume;
      var date = spill.date_incident;
      var units = spill.units;
      var id = spill.id.toString();
      var str = "View Spill Page";
      var infowindow = new google.maps.InfoWindow({
        content: "Date of Spill: " + date + " Contaminant Type: " + type + str.link("/spills/" + id)
      });
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(spill.latitude, spill.longitude),
        map: map
      });
      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });

      markers.push(marker);
    });

    markerCluster = new MarkerClusterer(map, markers,{
      imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
    });
  }

  function loadKmlLayer(src, map) {
    var kmlLayer = new google.maps.KmlLayer(src, {
      suppressInfoWindows: true,
      preserveViewport: false,
      map: map
    });
  }

  var heatmap = new google.maps.visualization.HeatmapLayer({
    data: markers
  });
  heatmap.setMap(map);




    </script>

    <h1>Recent Posts</h1>
    <% @posts.each do |post| %>
      <h4><%= post.user.name %></h4>
      <p><%= post.content %></p>
      <p><a href="/spills/<%= post.spill.id %>"><%= post.spill.incident_url %></a></p>
      <% if post.image.url == '/images/original/missing.png' %>
      <% else %>
        <img src="<%= post.image.url %>"/>
      <% end %>
      <a href="<%= post.url %>"><%= post.url %></a>
    <% end %>

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>



    <script async defer
      src="https://maps.googleapis.com/maps/api/js?callback=initMap">
    </script>

<!--     <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?&libraries=visualization">
</script> -->



  </body>
</html>